.course {
  background-color: hsl(0, 0%, 70%);
  border: 1rem;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #070404;
  gap: 10px;
}

.course ul {
  background-color: hsl(0, 9%, 67%);
  flex-direction: column;
  padding: 6rem;
  font-weight: bold;
}


.course h2{
  background-color: #c5d2bb;
  padding: 20px;
  font-family: cursive;
}
