.course {
  background-color: #ef89ef;
  border: 1rem;
  display: flex;
  margin: 0px;
  padding: 5px; 
  border-top: 1rem;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #070404;
  gap: 10px;
}

.course ul {
  background-color: hsl(0, 9%, 67%);
  padding: 4cm;
  box-shadow: o,o,5px rgba(0, 0, 0, 3);
  font-weight: bold;
}