.student {
  background-color: hsl(0, 0%, 70%);
  margin-top: 1rem;
  border: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #070404;
  gap: 5px;
}

.student ul {
  background-color: hsl(0, 9%, 67%);
  padding: 6rem;
  font-weight: bold;

}


.student h2 {
  background-color: hsl(0, 27%, 41%);
  padding: 20px;
  font-weight: bold;
}

